h1 {
    font-size: 20px;
    margin-left: 15px;
    font-weight: 700;
}

.wizard-container {
    width: 50%;
    background-color: #e4f4eb;
    height: auto;
    min-height: 900px;
    align-items: center;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 20px;
    min-width: 770px;
}

.step1-button-container {
    margin-top: 50px;
    display: flex;
    width: 70%;
    justify-content: center;
}

.step-button {
      background-color: #3b5249;
      border-radius: 3px;
      padding: 10px 30px;
      width: 162px;
      height: 40px;
      font-size: 16px;
}

.step-button-container {
      margin-top: 50px;
      display: flex;
      width: 70%;
      justify-content: space-between;
}

.complete-button {
    border-radius: 3px;
    padding: 10px 30px;
    width: 162px;
    height: 40px;
    font-size: 16px;
}