body {
  margin: 0;
  padding: 0;
  background-color: #AFD4C0;
}

* {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 20px;
  margin-bottom: 3px;
  position: relative;
  left: -27%;
}

button {
  border: none;
  cursor: pointer;
}

input {
  font-size: 25px;
  margin-bottom: 25px;
  border: 1px solid #519872;
}

.input-70 {
  width: 70%;
}
 
.auth-dashboard {
  height: 100vh;
  width: 50%;
  background-color: white;
  min-height: 850px;
  min-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.auth-logo {
  margin-bottom: 50px;
}

/* CORE 22C-3 && 22C-2 */
.auth-button-container > button {
  width: 130px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

/* CORE 26L */
.auth-button:nth-child(1){
  background-color: #8aea92;
  margin-right: 30px;
}

.auth-button:nth-child(2) {
  background-color: #3b5249;
  color: white;
}

#header-container {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  background-color: #519872;
  position: absolute;
  top: 0;
  align-items: center;
}

.header-content {
  width: 50%;
  min-width: 759px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.white-text {
  color: white;
}

.header-title {
  margin-left: 10px;
  font-size: 30px;
}

.dashboard-container {
  width: 50%;
  background-color: #e4f4eb;
  height: auto;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 20px;
  min-width: 770px;
}

.add-new-button {
  background-color: #8aea92;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.bold {
  font-weight: 700;
}

.font-20 {
  font-size: 20px;
}

.filter-input {
  width: 85px;
  padding: 5px;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 20px;
  font-size: 18px;
}

.filter-button {
  box-sizing: border-box;
  padding: 7px;
  width: 70px;
  cursor: pointer;
  font-size: 18px;
}

.reset {
  background-color: #3b5249;
  margin-left: 10px;
}

.filter {
  background-color: #8aea92;
}

.logout {
  cursor: pointer;
}